.container{
	width: 960px;
	margin: 20px auto;
	border: solid 1px black;
	padding: 20px;
}

.place{
	font-weight: bold;
}

.location{
	float: right;

}

.position{
	font-style: italic;
}

.activities{
	font-weight: bold;
}

.date{
	float: right;
}

.credentials{
	padding-left: 0px;
	margin: 0px;
}

ul{
	width: 762px;
	margin-top: 5px;
}

body{
	line-height: 17px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
	text-align: center;
}

h2 {
	margin-bottom: 4px;
	font-size: 14pt;
	text-decoration: underline;
	margin-top: 20px;
}

li{
	margin: 3px;
}
